<div class="search-container">
	<form class ="search-form"
		#form="ngForm"
		(ngSubmit)="onSubmit(form)">
		<input class="search-input"
			name ="search"
			ngModel
			placeholder="Canciones, artistas o géneros"/>
		<button class="search-button">Buscar</button>
		<mat-form-field class = "filters">
			<mat-label>Categorias</mat-label>
			<mat-select panelClass="category-select"
				[(ngModel)]="categoria" [ngModelOptions]="{standalone: true}">
				<mat-option value="proyectos">Proyectos Musicales</mat-option>
				<mat-option value="genero">Género Musical</mat-option>
				<mat-option value="ultimos">Últimos 10 proyectos</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</div>

<div class="search-results">
	<app-show-projects [categoria]="this.categoriaNueva" [busqueda]="this.busquedaNueva"></app-show-projects>
</div>