<div class="container">
  <div class="row">
    <div class="col-md-6 margin-auto space">
      <mat-card>
        <h1>Editar Proyecto: {{ this.project.nombre }}</h1>
        <h3>Nombre</h3>
        <mat-form-field appearance="fill">
          <mat-label>{{ project.nombre }}</mat-label>
          <input matInput />
        </mat-form-field>
        <h3>Descripción</h3>
        <mat-form-field appearance="fill">
          <mat-label>{{ project.descripcion }}</mat-label>
          <input matInput />
        </mat-form-field>
        <h3>Genero</h3>
        <mat-form-field appearance="fill">
          <mat-label>{{ project.genero }}</mat-label>
          <input matInput />
        </mat-form-field>
        <h3>Discografia</h3>
        <mat-form-field appearance="fill">
          <mat-label>{{ project.discografica }}</mat-label>
          <input matInput />
        </mat-form-field>
        <h3>Link de Foto de Portada</h3>
        <mat-form-field appearance="fill">
          <mat-label>{{ project.fotoPortada }}</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="accent">Editar</button>

        <button mat-raised-button class="pad-left" color="primary">
          Regresar
        </button>
      </mat-card>
    </div>
    <div class="col-md-6 margin-auto space">
      <mat-card>
        <ng-template [ngIf]="canciones.length !== 0">
          <h1>Canciones</h1>
          <table mat-table class="bottom" [dataSource]="canciones">
            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="track">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let cancion">{{ cancion.track }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let cancion">{{ cancion.nombre }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="duracion">
              <th mat-header-cell *matHeaderCellDef>Duración</th>
              <td mat-cell *matCellDef="let cancion">{{ cancion.duracion }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </ng-template>
        <!-- Agregar Cancion -->
        <div >
          <h1>Agregar Cancion</h1>

          <h3>Nombre</h3>
          <mat-form-field appearance="fill">
            <mat-label>{{ project.discografica }}</mat-label>
            <input matInput />
          </mat-form-field>
          <h3>Duracion</h3>
          <mat-form-field appearance="fill">
            <mat-label>{{ project.fotoPortada }}</mat-label>
            <input matInput />
          </mat-form-field>
          <button mat-raised-button color="accent">Agregar</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
