
<div class="container  ">
    <div class="row ">
        <div class="col-md-6 margin-auto space">
            <h1>Editar Proyecto: </h1>
            <div class="editProject">
                <form action="/users/register" method="POST">
                    <div class="form-group">
                      <label for="dni">DNI<span style="color: coral;"> </span></label>
                      <input
                        id="dni"
                        pattern="^[0-9]{8}$" title="Debe tener 8 dígitos exactos." required
                        name="dni"
                        class="form-control"
                        placeholder="Nro de Documento Nacional de Identidad"
                
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="name">Nombre<span style="color: coral;"> </span></label>
                      <input
                        type="name"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Nombre"
                        required
                        
                      />
                    </div>
                    <div class="form-group">
                      <label for="last_name">Apellido<span style="color: coral;"> </span></label>
                      <input
                        type="name"
                        id="last_name"
                        name="last_name"
                        class="form-control"
                        placeholder="Apellido"
                        required
                        
                      />
                    </div>
                    <div class="form-group">
                      <label for="email">Email<span style="color: coral;"> </span></label>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Ingresa Email"
                        required
                        
                      />
                    </div>
                    <div class="form-group">
                      <label for="cel">Teléfono</label>
                      <input
                        type="tel"
                        id="cel"
                        name="cel"
                        class="form-control"
                        placeholder="Ingresa Telefono o Celular"
                        
                        
                      />
                    </div>
                    <div class="form-group">
                      <label for="dir">Dirección</label>
                      <input
                        type="dir"
                        id="dir"
                        name="dir"
                        class="form-control"
                        placeholder="Ingresa Dirección"
                        value="<%= typeof dir != 'undefined' ? dir : '' %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña<span style="color: coral;"> </span></label>
                      <input
                        type="password"
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Por favor ingresa una contraseña con por lo menos una mayúscula" required
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Crear contraseña"
                        minlength="6"
                        required
                        value="<%= typeof password != 'undefined' ? password : '' %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="password2">Confirma Contraseña<span style="color: coral;">  </span></label>
                      <input
                        type="password"
                        id="password2"
                        name="password2"
                        class="form-control"
                        required
                        placeholder="Confirma Contraseña"
                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                      />
                    </div>
                    <div class="space">
                        <button type="submit" class="btn btn-primary btn-block ">
                            Editar
                        </button>
                        
                        <button type="submit" class="btn btn-primary btn-block">
                            Regresar
                        </button>

                    </div>
                    
                  </form>
            
            </div>
        </div>
        <div class="col-md-6 margin-auto space">
            <h1>Canciones</h1>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
        </div>

    </div>
    
    
</div>


