

<div class="editProject">
    <form action="/action_page.php">
        <label for="fname">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="descripcion"> Description:</label><br>
        <input type="text" id="descripcion" name="descripcion"><br>

        <label for="photo">Photo:</label><br>
        <input type="text" id="photo" name="photo"><br>

        <label for="genre">genre:</label><br>
        <input type="text" id="genre" name="genre"><br>

        <label for="discografica">Discography:</label><br>
        <input type="text" id="discografica" name="discografica"><br>

        <input type="Save" value="Save">

        <button (click)="goBack()">go back</button>
    </form> 

</div>

