
form{
    width: 70%;
    margin: auto;
}

.mat-form-field{
    width: 100%;
}

.space{
    padding-top: 50px;
}
table {
    width: 100%;
  }
.pad-left{
    margin-left: 2vh;
    
}
.bottom{
    margin-bottom: 4vh;
}
  