<div class="container">
    <mat-card>
      <div class="row">

        <div class="col-md-6 margin-auto ">
          <form >
            <h1>Inicia Sesión</h1>
            
            <mat-form-field appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput name="usuario"  placeholder="usuario"/>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput name="contraseña"  placeholder="contraseña"/>
            </mat-form-field>
            
          </form>
        </div> 
      </div>
      <button mat-raised-button color = "accent" >Inicia Sesión</button>
      
    </mat-card>

</div>
