.example-card {
    max-width: 400px;
    display:inline-block;
    margin: 0 auto;
    width: 80%;
    

  }
  

.mat-card-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.mat-card-cvr{
    /* width: 100%;
    text-align:center;
    padding: auto;
    padding-top: 30px; */

    /* height: 100vh; */
    
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

.col-sm-3{
  padding: auto;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

.fixed-bottom-right{
  position:fixed;
  bottom:20px;
  right: 20px;
}

.space{
  padding-top: 2vh;
}