

.bg{
  background-color: #e5e5f7;   
  background-image:  radial-gradient(#cfcfd2 1.85px, transparent 1.85px), radial-gradient(#cfcfd2 1.85px,whitesmoke 1.85px);
  background-size: 74px 74px;
  background-position: 0 0,37px 37px;
            
    
}
