<!-- <nav mat-tab-nav-bar background="accent">
  <div mat-card-avatar class="example-header-image" color="primary"></div>
  <a mat-tab-link routerLink=''>Takina Artistas</a> 
  <a mat-tab-link routerLink="['proyectos']">Projectos</a> 
  <a mat-tab-link [routerLink]="['busqueda']">Búsqueda</a> 
  <a mat-tab-link href= "https://frany-oss.github.io/Takina/">Landing Page</a> 
  
</nav>
 -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Takina</title>
</head>
<body class="bg">
    
  <router-outlet></router-outlet>
</body>
</html>