
<ng-template [ngIf]="userPlaylists!=undefined">



	<div class="row">
		<div class="col-xl-5 col-lg-4 col-md-4 col-sm-6 col-12" 
		*ngFor="let p of userPlaylists; let i = index">
			<div class="mat-card-cvr">
		  		<mat-card class="example-card shadow">
					<mat-card-header>
						<mat-card-title>{{ p.nombre }}</mat-card-title>
						<mat-card-subtitle>{{ p.creacion.split("T")[0] }}</mat-card-subtitle>
					</mat-card-header>
		
					<mat-card-content>
						<p> {{ p.descripcion }} </p>
					</mat-card-content>

					<div class="text-center">
						<button mat-button [routerLink]="'details/'+[p.id]">
							<mat-icon class="viewButton" id="viewButton" aria-hidden="false">
								visibility
							</mat-icon>
							<span></span>Ver
						</button>

						<button mat-button (click)="openDialog(i)">
							<mat-icon id="editButton" aria-hidden="false">
								edit
							</mat-icon>
							<span></span>Editar
						</button>

						<button mat-button color="warn" (click)="deletePlaylist(p)">
							<mat-icon id="deleteButton" aria-hidden="false">
								delete
							</mat-icon>
							<span></span>Eliminar
						</button>

					</div>
		  		</mat-card>
			</div>
	  	</div>
	</div>
	<div class="fixed-bottom-right">
		<button mat-fab color="primary" aria-label="Crear playlist"
			(click)="openDialog(-1)">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</ng-template>
  