<div class="container">
  <div class="row">
    <div class="col-md-12 margin-auto space">
      <mat-card>
        <form >

        
        <h1>Editar Proyecto: {{ this.nombre }}</h1>
        
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput name="nombre" [(ngModel)]="project.nombre" placeholder="project.nombre"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <input matInput name="descripcion" [(ngModel)]="project.descripcion" placeholder="project.descripcion"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Género</mat-label>
          <input matInput name="genero" [(ngModel)]="project.genero" placeholder="project.genero"/>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Discográfica</mat-label>
          <input matInput name="discografica" [(ngModel)]="project.discografica" placeholder="project.discografica" />
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Link de Foto Portada</mat-label>
          <input matInput name="fotoPortada" [(ngModel)]="project.fotoPortada" placeholder="project.fotoPortada"/>
        </mat-form-field>
        <div class="img-container">
          <img class='img shadow' [src] = project.fotoPortada>
        </div>
        
        <button mat-raised-button color="accent" (click)="editProyecto()">Editar</button>

        <button mat-raised-button class="pad-left" color="accent" [routerLink] = "['add']" > 
          Añadir canciones
        </button>

        <button mat-raised-button class="pad-left" color="primary" [routerLink] = "['/proyectos']" > 
          Regresar
        </button>

        

      </form>
      </mat-card>
    </div>
    
  </div>
</div>
