
form{
    width: 100%;
    margin: auto;
}

.mat-form-field{
    width: 100%;
}

.space{
    padding-top: 50px;
}
table {
    width: 100%;
  }
.pad-left{
    margin-left: 2vh;
    
}
.img-container {
    
    display: inline-block;
    
    padding: auto;
    align-items: center;
    text-align: center;

}
img{
    
    width: 60%;
    margin-top: 1em;
    margin-bottom: 2em;
    
}
    
  
.bottom{
    margin-bottom: 4vh;
}
  