<div class="container space">
	  <mat-card>
		<div class="row">

		  <div class="col-md-6 margin-auto ">
			<form >
			  <h1>Registrate en Takina!</h1>
			  
			  <mat-form-field appearance="fill">
				<mat-label>Apodo</mat-label>
				<input matInput name="apodo" [(ngModel)]="this.createUsuario.apodo" placeholder="Apodo"/>
			  </mat-form-field>

			  <mat-form-field appearance="fill">
				<mat-label>Correo</mat-label>
				<input matInput name="correo" [(ngModel)]="this.createUsuario.correo" placeholder="Correo Electronico"/>
			  </mat-form-field>
			  
			  <mat-form-field appearance="fill">
				<mat-label>Nombre</mat-label>
				<input matInput name="nombre" [(ngModel)]="this.createUsuario.nombre" placeholder="Nombres y Apellidos"/>
			  </mat-form-field>
			  
			  <mat-form-field appearance="fill">
				<mat-label>Contraseña</mat-label>
				<input matInput name="contraseña" [(ngModel)]="this.createUsuario.password" placeholder="Contraseña"/>
			  </mat-form-field>

			  <mat-form-field appearance="fill">
				<mat-label>Foto de perfil</mat-label>
				<input matInput name="fotoPerfil" [(ngModel)]="this.createUsuario.fotoPerfil" placeholder="Link de la foto de perfil"/>
			  </mat-form-field>
			</form>
		  </div> 

		  <div class="col-md-6 margin-auto space">
			<div class="img-container">
				<img [src] = this.createUsuario.fotoPerfil>
			</div>
	   	</div>

		</div>
		
		<button mat-raised-button color = "accent" (click)="registerUsuario()">
			Registrarse
		</button>

		<button mat-raised-button class="pad-left" color = "primary" (click)="regresar()">
			Regresar
		</button>
		
	  </mat-card>

</div>
