
form{
    width: 100%;
    margin: auto;
}

.mat-form-field{
    width: 100%;
}

.space{
    padding-top: 50px;
}
table {
    width: 100%;
  }
.pad-left{
    margin-left: 2vh;  
}
.img-container {
    
	display: flex;
	justify-content: center;
    
    padding: auto;
    align-items: center;
    text-align: center;

}
img{
    
	min-width: 350px;
	min-height: 350px;
    max-height: 350px;
    max-width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
    
  
.bottom{
    margin-bottom: 4vh;
}
  