
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.icon-display {
    transform: scale(2);
    padding-top: 20px;
    padding-bottom: 50px;
   
 }
 .space{
     padding-bottom: 10%;
 }