
form{
    width: 100%;
    margin: auto;
}

.mat-form-field{
    width: 100%;
}

.space{
    padding-top: 50px;
}

table {
    width: 100%;
}

.right-button{
	justify-content: center;
}

.description-box{
	text-align: center;
	justify-content: center;
    align-items: center;

}

.img-container {
    text-align: center;
}

img{
	min-width: 250px;
	min-height: 250px;
    max-height: 250px;
    max-width: 250px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.bottom{
    margin-bottom: 4vh;
}
