<div class="container">
	<div class="row">
	  <div class="container space">
		<mat-card>
		  <div class="row">
  
			<div class="col-md-6 margin-auto ">
				<div class="img-container">
					<img class='img shadow' [src] = proyecto.fotoPortada>
				</div>
			</div>

			<div class="col-md-6 margin-auto space">
				
			</div>
			
		  </div>
  
		  <button mat-raised-button color="accent" >Editar</button>
		
		  <button mat-raised-button class="pad-left" color="accent" [routerLink] = "['add']" > 
			Ver canciones
		  </button>
  
		  <button mat-raised-button class="pad-left" color="primary" [routerLink] = "['/proyectos']" > 
			Regresar
		  </button>
		  
		</mat-card>
	  </div>
	  
	</div>
  </div>
  