<div class="container space">
    <mat-card>
    	<div class="">
        <ng-template [ngIf]="canciones.length !== 0">
					<h1>Canciones</h1>
					<table mat-table class="bottom width" [dataSource]="canciones">
						<ng-container matColumnDef="track">
							<th mat-header-cell *matHeaderCellDef>No.</th>
							<td mat-cell *matCellDef="let cancion">{{ cancion.track }}</td>
						</ng-container>
	
						<ng-container matColumnDef="nombre">
							<th mat-header-cell *matHeaderCellDef>Nombre</th>
							<td mat-cell *matCellDef="let cancion">{{ cancion.nombre }}</td>
						</ng-container>
	
						<ng-container matColumnDef="duracion">
							<th mat-header-cell *matHeaderCellDef>Duración</th>
							<td mat-cell *matCellDef="let cancion">{{ getDuration(cancion.duracion) }}</td>
						</ng-container>

						<ng-container matColumnDef="eliminar">
							<th mat-header-cell *matHeaderCellDef>Eliminar</th>
							<td mat-cell *matCellDef="let cancion" style="width:5%">
								<button mat-icon-button color="warn" (click)="deleteSongByCancionId(cancion.id)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>
	
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
					</table>
				</ng-template>
				<!-- Agregar Cancion -->
				<div class="space" >
					<h1>Agregar Cancion</h1>
	
					
					<mat-form-field appearance="fill">
						<mat-label> Nombre</mat-label>
						<input matInput [(ngModel)]="createCancion.nombre"/>
					</mat-form-field>
					
					<mat-form-field appearance="fill">
						<mat-label>Duración</mat-label>
						<input matInput [(ngModel)]="createCancion.duracion"/>
					</mat-form-field>
				 
					<mat-form-field appearance="fill">
						<mat-label>Archivo de Audio</mat-label>
						<input matInput [(ngModel)]="createCancion.audio"/>
					</mat-form-field>
					<button mat-raised-button (click)="addSongByProyectId()" color="accent">Agregar</button>

					<button mat-raised-button class="pad-left" color="primary" [routerLink]="['../../../edit/'+[this.proyectoId]]" > 
						Regresar
					</button>
				</div>
      </div>
      
    </mat-card>
  </div>